/* .block h3 {
  margin-top: 0;
  background-color: var(--black);
  border-bottom: 2px solid var(--black);
  color: var(--green);
  text-shadow: 1px 1px 0 var(--black);
  text-indent: 2em;
  padding: 1em;
} */

main {
  padding-left: 0;
  padding-right: 0;
}

footer {
  height: calc(100vh - var(--top-pad-large));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-items {
  padding: 0 var(--lf-pad-large);
}

footer .block-footer {
  padding: 1.33em 0.5em 2em;
}

footer .block-footer .block-footer-item:not(:last-child) {
  padding-bottom: 1em;
}

footer .block-footer svg {
  width: 1.5em;
  margin-right: 1em;
}

footer .block-footer svg path.no-fill,
footer .block-footer svg path.with-fill {
  stroke: var(--black);
  fill: var(--black);
}

footer .block-footer svg path.no-fill {
  fill: none;
}

footer .block-footer a {
  font-size: 0.9em;
}

.miscellaneous {
  background-color: var(--dark);
  padding: 5px 1em 1em;
}

.miscellaneous p {
  margin: 0;
  text-indent: 0.5em;
}

@media only screen and (min-width: 320px) {
  footer .block-footer a {
    font-size: 1em;
  }
}

@media screen and (max-width: 1023px) {
  footer {
    height: calc(100vh - var(--top-pad-medium));
  }

  .top-items {
    padding: 0 var(--lf-pad-medium);
  }
}

@media screen and (max-width: 767px) {
  footer {
    height: calc(100vh - var(--top-pad-small));
  }

  .top-items {
    padding: 0 var(--lf-pad-small);
  }
}
