<main>
  <div class="block tldr-block">
    <h3>BUILD-A-DEV</h3>

    <h4>Drag and drop "experiential hiring" game.</h4>
    <p>
      Règle: Glissez et posez 10 compétences souhaitées sur l'image de gauche
      dans l'ordre afin de construire le développeur de vos rêves.
    </p>

    <div class="flexy-game">
      <div
        id="griddy"
        data-dropzone="dropzone"
        (dragover)="handleDragOver($event)"
        (drop)="handleDrop($event)"
      >
        <img
          src="/assets/no_marui_bg_transparent.png"
          alt="gauge like background"
        />
        <img
          src="/assets/marui_standard_not_as_render_transparent.png"
          alt="marui me to fill the gauge"
        />
      </div>

      <article>
        <h4>Draggable skills</h4>
        <ul class="skills">
          <li
            #skill
            *ngFor="let skill of skills; let index = index"
            class="skill {{ skill.type }}"
            draggable="true"
            (dragstart)="handleDragStart($event, skill)"
          >
            {{ skill.name }}
          </li>
        </ul>
      </article>
    </div>

    <aside>
      <h4 #dreamdev>Description du développeur de vos rêves</h4>
      <ul #output class="output"></ul>
    </aside>
  </div>
</main>
