:root {
  --lightest: #fffef7;
  --light: #f4f3ed;
  --dark: #c1c0bb;
  --darker: #8e8d89;
  --darkest: #5b5a57;
  --cardboard-dark: #d0bcad;
  --cardboard-light: #f1ebe4;
  --green: #2cff00;

  --top-pad-large: 110px;
  --top-pad-medium: 90px;
  --top-pad-small: 70px;
  --lf-pad-large: 4em;
  --lf-pad-medium: 2em;
  --lf-pad-small: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666dad;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e75b2;
}

body {
  margin: 0;
  background-color: var(--light);
}

main {
  padding: var(--top-pad-large) var(--lf-pad-large) 0;
}

@media screen and (max-width: 1025px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  main {
    padding: var(--top-pad-medium) var(--lf-pad-medium) 0;
  }
}

@media screen and (max-width: 769px) {
  main {
    padding: var(--top-pad-small) var(--lf-pad-small) 0;
  }
}
