<main>
  <div class="home-grid">
    <div class="home-item home-item-name">
      <h1>
        <span>JONATHAN</span>
        <span>LITTARDI</span>
      </h1>
    </div>

    <div class="home-item home-item-title">
      <h2>
        <span>À LA RECHERCHE</span>
        <span>D'UNE ALTERNANCE DE</span>
        <span>CONCEPTEUR DÉVELOPPEUR</span>
        <span>D'APPLICATION WEB</span>
      </h2>
    </div>

    <div class="home-item home-item-pic">
      <img src="./assets/marui_512.png" />
    </div>
  </div>
</main>
